# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la

# Executables
*.exe
*.out
*.app

# Python
*.pyc
dist/
build/
vnpy_ctp.egg-info/
__pycache__/

# Visual Studio
.vs/
x64/

.DS_Store
/.idea/fw_vnpy_ctp.iml
/.idea/MarsCodeWorkspaceAppSettings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/vnpy_ctp/api/vnctpmd.cp310-win_amd64.pyd
/vnpy_ctp/api/vnctptd.cp310-win_amd64.pyd
.idea